## from main-rover-tour.html
  <script>
    function am_tour_1(){
      superTrainingWheelImg1 = "${static.url('images/super-training-wheel-1.png')}";
      superTrainingWheel1HTML = "<img class='super-training-wheel' src='" + superTrainingWheelImg1 + "' alt='Super Training Wheel 1'>";

      superTrainingWheelImg3 = "${static.url('images/super-training-wheel-3.png')}";
      superTrainingWheel3HTML = "<img class='super-training-wheel' src='" + superTrainingWheelImg3 + "' alt='Super Training Wheel 1'>";

      roverTourItinerary = {
        id: "cms-itinerary",
        showCloseButton: (sessionStorage.getItem("hopscotch.tour.again") ? true : false),
        showPrevButton: true,
        onEnd: function(){
          console.info('tada');
          let rightNow = new Date()
          $.ajax({
            url: window.rover_mktg_url,
            type: "PUT",
            global: false,
            data: { "completed_training_wheels_date": rightNow.toISOString() }
          })
          .done(function(data){
            console.info("Recorded Tour Completion")
          })
          .fail( function(err){
            console.info( "Tour Completion Recording Failed", err );
          });

        },
        steps: [
        {
          content: superTrainingWheel1HTML,
          target: document.querySelector('.cms-hdr'),
          width: '750px',
          xOffset: 'center',
          placement: "bottom",
          arrowWidth: 0,
          onShow: function(){
            document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          }
        },
        {
          content: superTrainingWheel2HTML(),
          target: document.querySelector('.cms-hdr'),
          width: '800px',
          xOffset: 'center',
          placement: "bottom",
          arrowWidth: 0,
          onShow: function(){
            document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          }
        },
        {
          content: superTrainingWheel3HTML,
          target: document.querySelector('.cms-hdr'),
          width: '750px',
          xOffset: 'center',
          placement: "bottom",
          arrowWidth: 0,
          onShow: function(){
            document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
          }
        },
          {
            content: "<p>Welcome to assignment manager! This is where you create course sections and student assignments.</p><p>This tour will teach you how to setup a course. Once we’re done, feel free to explore Rover on your own.</p>",
            target: document.querySelector('.cms-hdr'),
            xOffset: 'center',
            placement: "bottom",
            arrowWidth: 0,
            onShow: function(){
              document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
            }
          },
          {
            content: "Course sections you create will be listed here.",
            target: document.querySelector('.my-course-sections-title'),
            placement: "top",
            yOffset: 50
          },
          {
            content: "Click an OpenStax course template to create a new course section for that subject.",
            target: document.querySelector('.course-link'),
            placement: "bottom",
            multipage: true,
            nextOnTargetClick: true,
            onNext: function(){
              window.location = '/course_rerun/course-v1:OpenStax+OS94717210+Template';
            }
          },
          {
            content: "Let’s create a sample course section. And don’t worry about adding real information right now—Rover will use sample text for the tour.",
            target: document.querySelector('.page-header-sub'),
            placement: "right",
            yOffset: 0,
            showPrevButton: false,
            onNext: function(){
              console.info( 'Prepopulating course section data')
              document.querySelector('#rerun-course-name').value="!Math 100: Rover Tour Course";
              document.querySelector('#rerun-course-org').value="MySchool";

              % if user.is_authenticated:
                document.querySelector('#rerun-course-run').value="Fall2019_${user.last_name}_TTh700-750".replace(/\W/g, '');
              % else:
                document.querySelector('#rerun-course-run').value="";
              % endif

              document.querySelector('.rerun-course-save').classList.remove('is-disabled') ;
            },
            onShow: function(){
              document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
            }
          },
          {
            content: "This is the course name that your students will see. We recommend a complete title such as 'Math 103 - Introduction to College Mathematics'",
            target: "rerun-course-name",
            placement: "bottom",
            xOffset: 'center'
          },
          {
            content: "Your school name goes here. Keep it short, but unique, e.g. 'DenverCC'.",
            target: "rerun-course-org",
            placement: "bottom",
            xOffset: 'center'
          },
          {
            content: "Create a unique <i>course section</i> name. We recommend 'Termyear_instructorname_coursetimes'.",
            target: "rerun-course-run",
            placement: "top",
            xOffset: 'center'
          },
          {
            content: "Click “create” to build your course section.",
            target: document.querySelector('.rerun-course-save'),
            placement: "right",
            multipage: true,
            nextOnTargetClick: true,
            onNext: function(){
              document.querySelector('.rerun-course-save').click();
            }
          },
          {
            content: "Please wait while your sample course is created.",
            target: document.querySelector('.courses-processing'),
            placement: "top",
            xOffset: 'center',
            showPrevButton: false,
            showNextButton: false,
            yOffset: 50
          },
          {
            content: "Now, let’s look at the sample course you created.",
            target: document.querySelector('.list-courses:not(.list-templates) > li.course-item > a.course-link'),
            placement: "top",
            xOffset: 'center',
            yOffset: 50,
            multipage: true,
            nextOnTargetClick: true,
            showPrevButton: false,
            onNext: function(){
              document.querySelector('.list-courses:not(.list-templates) > li.course-item > a.course-link').click();
            }
          },
          {
            content: "<p>Rover contains pre-built homework assignments aligned with the OpenStax book. Each section contains one assignment with all questions and instructors can delete questions so that homework assignments are manageable for the student.</p><p>For this trial, there are only two chapters shown and there are <i>two</i> assignments per section: the first assignment includes all available questions for that section for you to browse. The second assignment for each section is an example of a typical assignment that an instructor might make for that section.</p>",
            target: document.querySelector('.page-header'),
            placement: "bottom",
            showPrevButton: false,
            onShow: function(){
              document.querySelector(".hopscotch-bubble-arrow-container").style.display="none";
            }
          },
          {
            content: "Click here to see the assignments as your students would see them. Remember: your students won’t see any changes you haven’t yet saved.",
            target: document.querySelector('.view-live-button'),
            placement: "left",
            yOffset: -20
          },
          {
            content: "Click on an arrow or chapter name to see assignments.",
            target: document.querySelector('.section-header-details span.icon.fa.fa-caret-down'),
            placement: "bottom"
          },
          {
            content: "Use these icons to delete and re-order assignments and questions.",
            target: document.querySelector('.action-duplicate'),
            placement: "left",
            yOffset: -20
          },
          {
            content: "Click and drag here to re-order chapters, assignments, and questions.",
            target: document.querySelector('.action-drag'),
            placement: "left",
            yOffset: -20
          },
          {
            content: "<p>If a section is green, it’s available to students. If it’s orange, there are unpublished changes and students cannot see it.</p><p>You can set the date when the assignment is visible by clicking this calendar icon and setting the date and time.</p>",
            target: document.querySelector('.outline-item-left'),
            placement: "right",
            onNext: function(){
              setTimeout( function(){
              console.info('showing Settings menu');
              document.querySelector('li.nav-course-settings > .wrapper-nav-sub ').classList.add('is-shown');
              }, 250);
            }
          },
          {
            content: "<p>Next, manage schedules, set grading policies, add teaching assistants, and other tasks through the Settings menu.</p><p>Let’s start with Schedule & Details.</p>",
            target: document.querySelector('.nav-course-settings-schedule > a'),
            placement: "left",
            yOffset: -20,
            multipage: true,
            nextOnTargetClick: true,
            onNext: function(){
              document.querySelector('.nav-course-settings-schedule > a').click();
            }
          },
          {
            content: "This is the link your students need to access their course section. Click the icon to copy it.",
            target: document.querySelector('p.course-enrollment-url'),
            showPrevButton: false,
            placement: "top"
          },
          {
            content: "<p>Course dates and times are when your students can <i>access and complete</i> their homework. </p><p>You can set different access and complete dates per assignment on the Assignments page.</p>",
            target: "field-course-end-time",
            placement: "bottom"
          },
          {
            content: "Enrollment dates and times are when your students can enroll in your course.",
            target: "field-enrollment-start-time",
            placement: "top",
            onNext: function(){
              setTimeout( function(){
              console.info('showing Settings menu');
              document.querySelector('li.nav-course-settings > .wrapper-nav-sub ').classList.add('is-shown');
              }, 250);
            }
          },
          {
            content: "Next, set the grading policy through the Settings menu.",
            target: document.querySelector('.nav-course-settings-grading > a'),
            placement: "left",
            multipage: true,
            nextOnTargetClick: true,
            yOffset: -20,
            onNext: function(){
              document.querySelector('.nav-course-settings-grading > a').click();
            }
          },
          {
            content: "<p>The grading default is two grades: pass or fail. Adjust the grade range by</p><ul style='margin-left:20px;'><li>Clicking the plus button to add grade ranges</li><li>Dragging the line between ranges to adjust the scale</li><li>Hovering over a letter to delete a range</li></ul>",
            showPrevButton: false,
            target: document.querySelector('.grade-slider'),
            placement: "bottom"
          },
          {
            content: "Add an optional grace period for all assignments in Hours:Minutes format.",
            target: "field-course-grading-graceperiod",
            placement: "right"
          },
          {
            content: "IMPORTANT: Add the estimated number of assignments students will complete in this course section. Once you edit your assignments, you must return to this page and update this number.",
            target: "field-course-grading-assignment-totalassignments",
            placement: "right"
          },
          {
            content: "<p>You’re done! Feel free to explore Rover on your own. Contact <a href='mailto:support@openstax.org'>support@openstax.org</a> if you have any questions.</p>",
            target: document.querySelector(".nav-item.nav-course-courseware"),
            placement: "bottom"
          }
        ]
      };

      return roverTourItinerary;
    }


  </script>


  ## from dashboard.html
  <script type="text/javascript">
    function loadItinerary(){
      return {
        id: "student_dashboard",
        steps: [
          {
            title: "Welcome to OpenStax Rover dashboard!",
            content: "This tour will show the capabilities of the Rover dashboard.",
            target: document.querySelector('.global-header'),
            xOffset: "center",
            placement: "bottom"
          },
          {
            title: "Rover Logo",
            content: "Clicking the Rover logo will return you to the dashboard.",
            target: document.querySelector('.logo'),
            placement: "bottom"
          },
          {
            title: "Help",
            content: "The Help button will open a new browser tab connecting you to OpenStax's suppport team.",
            target: document.querySelector('.help-link'),
            placement: "bottom"
          },
          {
            title: "The menu",
            content: "This menu provides commonly used commands. Click it now...",
            target: document.querySelector('.nav-item-dropdown'),
            placement: "left",
            showNextButton: false,
            showPrevButton: false,
            nextOnTargetClick: true
          }
        ]
      };
    }
  </script>

  ## from courseware.html
  <script type="text/javascript">
    function loadItinerary(){
      return {
        id: "courseware",
        steps: [
          {
            title: "Welcome to OpenStax Rover courseware!",
            content: "This tour will show the capabilities of the Rover dashboard.",
            target: document.querySelector('.global-header'),
            xOffset: "center",
            placement: "bottom"
          },
          {
            title: "Rover Logo",
            content: "Clicking the Rover logo will return you to the dashboard.",
            target: document.querySelector('.logo'),
            placement: "bottom"
          },
          {
            title: "Help",
            content: "The Help button will open a new browser tab connecting you to OpenStax's suppport team.",
            target: document.querySelector('.help-link'),
            placement: "bottom"
          },
          {
            title: "The menu",
            content: "This menu provides commonly used commands. Click it now...",
            target: document.querySelector('.nav-item-dropdown'),
            placement: "left",
            showNextButton: false,
            showPrevButton: false,
            nextOnTargetClick: true
          }
        ]
      };
    }
  </script>

  ## from progress.html
  <script type="text/javascript">
      function loadItinerary(){
        return {
          id: "scores_page",
          steps: [
            {
              title: "Welcome to OpenStax Rover Scores page!",
              content: "This tour will show how to navigate the Scores page.",
              target: document.querySelector('.global-header'),
              xOffset: "center",
              placement: "bottom"
            },
            {
              title: "Rover Logo",
              content: "Clicking the Rover logo will return you to the dashboard.",
              target: document.querySelector('.logo'),
              placement: "bottom"
            },
            {
              title: "Help",
              content: "The Help button will open a new browser tab connecting you to OpenStax's suppport team.",
              target: document.querySelector('.help-link'),
              placement: "bottom"
            },
            {
              title: "The menu",
              content: "This menu provides commonly used commands. Click it now...",
              target: document.querySelector('.nav-item-dropdown'),
              placement: "left",
              showNextButton: false,
              showPrevButton: false,
              nextOnTargetClick: true
            }
          ]
        };
      }

      /*
      function ResumeRoverTour( currentStep ){
        console.info( 'ResumeRoverTour() LMS Resuming Tour at: ', currentStep );

        let numChecks = 0;
        const validateItineraryInterval = setInterval(
          ()=> {
            console.info( 'LMS Resuming Tour at: ', currentStep );
            lms_course_outline_itinerary();
            if( RoverItineraryValid(currentStep) ){
              console.info( 'ResumeRoverTour() LMS RoverItineraryValid so cleaning up' );
              console.info('ResumeRoverTour() LMS  header.html row 600 - tried to start tour')
              hopscotch.startTour( roverTourItinerary, currentStep );
              clearInterval( validateItineraryInterval );
            }else if( numChecks>1000 ){
              console.info( 'ResumeRoverTour() LMS NOT RoverItineraryValid for ', ++numChecks );
              clearInterval( validateItineraryInterval );
            }else{
              console.info( 'ResumeRoverTour() LMS NOT RoverItineraryValid for ', ++numChecks );
            }
          },
          100
        );
      }
      */

      // this function checks the targets in the range to ensure they arent null
      // mcdaniel: do we really need this?????
      /*
      function RoverItineraryValid( start ){
        console.info( 'RoverItineraryValid() - start' );
        let steps = roverTourItinerary.steps;
        let i=start;

        // One step on this page
        if( steps[i].target && steps[i].multipage ){
          return true;
        }

        // Verify all targets on this page
        do {
          if( !steps[i].target ){
            console.info( 'Bad target:', steps[i] );
            return false;
          }
          i++;
        } while ( i<steps.length && !steps[i].multipage )
        return true;
      }
      */


      /*
      function marketingCheck( data ){
        console.info("marketingCheck() - start")
        let rightNow = new Date();
        rightNow = rightNow.getTime();
        console.info("rightNow",rightNow);

        if( rightNow - sessionStorage.getItem("marketingLMSChecked") < 3600000 ){
          console.info("marketing already checked this session");
          return;
        }else{
          sessionStorage.setItem("marketingLMSChecked", rightNow );
        }

        console.info( data );

        let touredOn = new Date(data.lms_completed_assignment_tour);
        touredOn = touredOn.getTime();
        console.info("touredOn",touredOn);

        let daysSinceTour = (rightNow - touredOn) / 259200000;
        console.info("daysSinceTour", daysSinceTour);

        if( !touredOn ){
          console.info("startRoverTour");
          startRoverTour(false);
          console.log('finished tour');
        }
      }

      ## mcdaniel: immediate execution
      ## ======================================================
      ## window.rover_mktg_url = "${sfdc_data_url}";
      ## console.info( "window.rover_mktg_url", window.rover_mktg_url);

      $.ajax({
        url: window.rover_mktg_url,
        type: "GET",
        global: false
      })
      .done(function(data){
        console.info("$.ajax done - Retrieved SFDC contact record");
        marketingCheck(data);
      })
      .fail( function(err){
        console.info("$.ajax fail - Retrieved SFDC contact record", err );
      });
      */

  </script>
