## By:   Lawrence McDaniel
##       lpm0073@gmail.com
##       lawrencemcdaniel.com
##
##       Jul-2019
##
## Usage:
##         html, CSS, Javascript and Python/Django to generate Rover Paywall.
##
<%namespace name='static' file='../static_content.html'/>

<%!
## module-level execution. happens "once"
## usually this only includes the Python imports, but could also include
## anything else that you want to execute only once at load time

from querium.rover_ecommerce.utils import (
  paywall_should_render, 
  paywall_should_raise,
  get_verified_upgrade_deadline_block
  )

%>

<%
if not paywall_should_render(request, context):
  return STOP_RENDERING
%>

<%block name="headextra">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<style>
  .rover-dog-img {
    text-align: right;
  }
  .rover-dog-img img {
    width: 200px;
  }
  .buy-rover-btn {
    text-align: center;
  }
  .buy-rover-btn a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: #0dc0dc;
    color: #fff;
    font-size: 1.25em;
    font-weight: bolder;
    border-radius: 3px;
  }
  .buy-rover-btn a:hover {
    transition-timing-function: ease-in;
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  #RoverExpiredAlert h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: red;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .message-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #424242;
  }
  .buy-rover-modal {
    left: 0% !Important;
  }
</style>
</%block>


<%block name="bodyextra">
<%

if paywall_should_raise(request, context):
  block = get_verified_upgrade_deadline_block(request, context)
  paywall(block.link_text, block.link)

%>
</%block>

<%def name="paywall(link_text, link)">

    <div id="RoverExpiredAlert" class="buy-rover-modal">
      <h2>Your Trial Period Has Expired.</h2>
      <div class="message-text">
        <p>We hope you've had the chance to check out Rover by OpenStax for completing your math homework.  Your free access period has now expired.  Please click the button below to complete your payment for Rover so you can continue to use it for the remaining homework assignments in your course.  If you are an EOP member at your institution, please email us at <a href="mailto:roversupport@querium.com">roversupport@querium.com</a> so we can help you with the purchase process.  See this page in our <a href="https://openstax.secure.force.com/help/articles/FAQ/How-do-I-pay-for-Rover" target="_blank">FAQ</a> for more information on paying for Rover.</p>
        <p>Thanks for using Rover by OpenStax!</p>
        <p>The Rover Team at OpenStax</p>
      </div>
      <div class="buy-rover-btn">
        ## passing in VerifiedUpgradeDeadlineDate.link_text
        <a href="#RoverBuyNow" target="_self">${ link_text }</a>
      </div>
      <div class="rover-dog-img">
        <img src="${static.url("images/rover-angled-corner.svg")}" alt="Rover Angled Corner">
      </div>
    </div>
    <script type="text/javascript">

      $(function() {
        $('#RoverExpiredAlert').modal({
          fadeDuration: 1000,
          fadeDelay: 1.25,
          escapeClose: false,
          clickClose: false,
          showClose: false
        });

        $('a[href="#RoverBuyNow"]').click(function(event) {
             event.preventDefault();
             $(this).modal.close;
             ## passing in VerifiedUpgradeDeadlineDate.link
             window.location.replace("${ link }");
        });
      });
    </script>
</%def>

<%block name="js_extra">
  ## mcdaniel sep-2019: jQuery Modal for Rover "Buy Now" popup
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</%block>
