<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
        <h1>
            <%block name="pageheader">
                % if page_header:
                    ${page_header}
                % else:
                    ${Text(_(u"There has been a 500 error on the {platform_name} servers")).format(
                    platform_name=HTML("<em>{platform_name}</em>").format(platform_name=Text(static.get_platform_name()))
                    )}
                % endif
            </%block>
        </h1>
        # https://lottiefiles.com/web-player?lottie_url=https%3A%2F%2Fassets10.lottiefiles.com%2Fpackages%2Flf20_inueopnr.json
        <lottie-player class="lottie-centered" src="https://assets10.lottiefiles.com/packages/lf20_inueopnr.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>        
        <p>
            <%block name="pagecontent">
                % if page_content:
                    ${page_content}
                % else:
                    ${Text(_('Please wait a few seconds and then reload the page.'))}
                % endif
            </%block>
        </p>
    </section>
</main>
